body
	min-width: 320px
	overflow-x: hidden
	color: $b
	background-color: $e5
	+reg


.container
	max-width: 1600px
	margin: 0 auto
	padding: 0 60px
	position: relative
	z-index: 1
	+r(900)
		padding: 0 40px
	+r(735)
		padding: 0 20px

[none]
	display: none
	visibility: hidden
	position: absolute
	left: -9999999
	top: -9999999

.btn
	font-size: 12px
	border-radius: 6px
	display: inline-block
	background: transparent

